<div style="float:right;margin-top:10px">
    Data Last Refreshed: <span id="last-update"></span>
</div>
<div style="float:left;margin:10px">
    <div style="float:left">
    <h1>Team Ranking</h1>
    <div id="team-rank">
    </div>
    <div id="team-ranking" style="width:600px;height:300px"></div>
    </div>
    <div style="float:left;margin-left:10px">
    <h1>Daily Leaderboard</h1>
    <div id="individual-leaderboard"></div>
    </div>
</div>
<div style="float:left;margin:10px">
</div>
<div style="float:left;margin:10px">
    <h1>Team Progression</h1>
    <div id="team-stats" style="width:1000px;height:300px"></div>
</div>
<div style="float:left;margin:10px">
    <h1>Individual Daily Steps</h1>
    <div id="individual-stats" style="width:1000px;height:300px;float:left"></div>
    <div id="individual-stats-legend" style="float:left;width:100px"></div>
    <div id="daily-stats" style="float:left;width:1000px;overflow:auto;padding-top:24px"></div>
    <div id="daily-stats-download" style="float:left;">
        <a href="javascript:void(0)" id="download-daily-stats">Download Daily Individual Stats (export to .csv)</a>
    </div>
</div>
<div style="float:left;margin:10px;padding-bottom:10px;">
    <h1>Individual Totals</h1>
    <div id="individual-totals" style="width:600px;height:300px;float:left"></div>
    <div id="individual-totals-legend" style="float:left;width:100px"></div>
    <div id="individual-totals-tbl" style="width:400px;height:300px;float:left"></div>
</div>