<div style="float:left;margin:10px">
    <h1>Team Ranking</h1>
    <div id="team-rank">
    </div>
    <div id="team-ranking" style="width:600px;height:300px"></div>
</div>
<div style="float:left;margin:10px">
    <h1>Daily Leaderboard</h1>
    <div id="individual-leaderboard"></div>
</div>
<div style="float:left;margin:10px">
    <h1>Team Progression</h1>
    <div id="team-stats" style="width:1000px;height:300px"></div>
</div>
<div style="float:left;margin:10px">
    <h1>Individual Daily Steps</h1>
    <div id="individual-stats" style="width:1000px;height:300px;float:left"></div>
    <div id="individual-stats-legend" style="float:left;width:100px"></div>
    <div id="daily-stats" style="float:left;width:1000px;overflow:auto;padding-top:24px"></div>
</div>